/* views  */
.home-tabs {
  .nav-tabs {
    display: flex;
    flex-direction: column;
    border: 0;
    .nav-link {
      border: 0;
      font-size: 1.4rem;
      color: #c4c4c4;
      &.active {
        color: #1d6cc5;
      }
    }
  }
}
