<!-- Footer -->
<div class="container footer-menu">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-8">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#">Academic Calendar</a></li>
            <li><a href="#">Academic Time Table</a></li>
            <li><a href="#">Moodle login</a></li>
            <li><a href="#">Telephone Directory</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>ET Blogs</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#">LCM Blog</a></li>
            <li><a href="#">ComputingEd Blog</a></li>
            <li><a href="#">EmergingTech Blog</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>Follow Us</h5>

          <ul class="list-unstyled quick-links">
            <li><a href="#">Twitter </a></li>
            <li><a href="#">Facebook </a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>Contact Us</h5>

          <div class="footer-contact">
            <p>
              IDP in Educational Technology, CESE Building, Near VMCC, Indian
              Institute of Technology Bombay, Powai, Mumbai 400 076.
              Tel:+91-[22]-[2576]-[4820]
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-4">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h5>Contact Us</h5>

          <div class="footer-contact">
            <p>
              IDP in Educational Technology, CESE Building, Near VMCC, Indian
              Institute of Technology Bombay, Powai, Mumbai 400 076.
              Tel:+91-[22]-[2576]-[4820]
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h5>Contact Us</h5>

          <div class="footer-contact">
            <p>
              IDP in Educational Technology, CESE Building, Near VMCC, Indian
              Institute of Technology Bombay, Powai, Mumbai 400 076.
              Tel:+91-[22]-[2576]-[4820]
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Home featured -->
<div class="boxes box-featured">
  <div class="row">
    <div class="col-sm-12 col-md-4 box">
      <div class="inner">
        <h2><a href="#">Discover</a></h2>

        <h5><a href="#">EdTech @IITB</a></h5>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 box">
      <div class="inner">
        <h2><a href="#">Discover</a></h2>

        <h5><a href="#">EdTech @IITB</a></h5>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 box">
      <div class="inner">
        <h2><a href="#">Discover</a></h2>

        <h5><a href="#">EdTech @IITB</a></h5>
      </div>
    </div>
  </div>
</div>

<!-- home page -->
<p>
  Welcome to the Interdisciplinary Programme in Educational Technology at IIT
  Bombay. Educational Technology is a combination of processes, strategies, and
  tools involved in addressing educational needs and problems, with an emphasis
  on applying current technological tools. We are actively involved in research
  and teaching areas of educational technology.
</p>

<p><b>The thrust areas of research in the IDP-EdTech are:</b></p>

<div class="boxes box-tailed">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 box color-1">
      <div class="inner">
        Technology Enhanced Learning of<br />
        Thinking Skills<br />
        (TELoTS)
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 box color-2">
      <div class="inner">
        Teacher Use of<br />
        Educational Technology<br />
        (TUET)
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 box color-3">
      <div class="inner">
        Educational<br />
        Data Analytics<br />
        (EDA)
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 box color-4">
      <div class="inner">
        Exploration of Emerging Technologies<br />
        for Education<br />
        (EmergE)
      </div>
    </div>
  </div>
</div>










<!-- footer blocks -->
<div class="home-tabs">
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
          </li>
        </ul>
    </div>
    <div class="col-sm-2">
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <p><b>CEP Course for school principals</b> Our ET department conducted CEP course for Next Education for school principals on Emerging technologies for effective teaching -learning from September 19-21. About 60-70 school principals from across India participated in the event. They also interacted with the research scholars during the showcase of department projects.</p>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <p><b>CEP Course for school principals</b> Our ET department conducted CEP course for Next Education for school principals on Emerging technologies for effective teaching -learning from September 19-21. About 60-70 school principals from across India participated in the event. They also interacted with the research scholars during the showcase of department projects.</p>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <p><b>CEP Course for school principals</b> Our ET department conducted CEP course for Next Education for school principals on Emerging technologies for effective teaching -learning from September 19-21. About 60-70 school principals from across India participated in the event. They also interacted with the research scholars during the showcase of department projects.</p>
  </div>
</div>
</div>
</div>
